html, body {
    margin: 0px;
    /*height: 100%;*/
    width: 100%;
    padding-bottom: 50px;
}

.gpMenu{
    background-color: white!important;
    z-index: 9999!important;
    border: 0px!important;
    /*margin-bottom: -5em!important;*/
}

.mainImageItem{
    padding-top: 10px 15px 10px 10px;
    
}

.siteName{
    padding-left: 15px;
    color: #1cab9e;
    font-size: 35px;
    padding-bottom: 3.5px;
    font-family: courier new;
}

.siteName:hover{
    color: #127068;
}

.selectMenu{
    font-size: 22px;
    font-family: courier new;
    color: black;
}

#homePage{
    padding-bottom: 2em!important;
}

.contentPage{
    margin-top: 7em;
}

#aboutText{
    font-family: courier new;
    font-size: 18px;
}

.homeMain{
    margin-top: -5em!important;
}

.expSegment h3{
    font-family: courier new!important;
}

.expSegment .header{
    font-family: courier new!important;
}

.expSegment .item{
    font-family: courier new!important;
}

.metaList{
    color: rgb(99, 99, 99);
    font-size: 12px;
    font-family: courier new!important;
}

.pubLink::before{
    content: "\A";
    white-space: pre;
}

.mapTitle{
    font-family: courier new!important;
    font-size: 21px!important
}

.mapDesc{
    font-family: courier new!important;
    font-size: 18px!important;
}

#placesLivedMap{
    height: 370px;
    width: 400px;
    float: left;
    margin-right: 10px;
}

#kenyaMap{
    height: 370px;
    width: 400px;
    float: left;
    margin-right: 10px;
}

#co2Map{
    height: 370px;
    width: 400px;
    float: left;
    margin-right: 10px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h5 {
    margin: 0 0 5px;
    color: #777;
}

.info p {
    font-size: 11px;
    font-style: italic;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend h5 {
    padding-bottom: 0px;
}

.legend h6 {
    margin-top: 2px;
    margin-bottom: 4px;
    line-height: 10px!important;
}


.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
/*Screen width below 650px
@media screen and (max-width: 650px){
    #siteName{
        font-size: 25px;
    }
    
    .selectMenu{
        font-size: 12px;
    }
}*/