html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.gpMenu{
    background-color: white!important;
    z-index: 9999!important;
}

.mainImageItem{
    padding-top: 10px 15px 10px 10px;
    
}

.siteName{
    padding-left: 15px;
    color: #1cab9e;
    font-size: 35px;
    padding-bottom: 3.5px;
    font-family: courier new;
}

.selectMenu{
    font-size: 22px;
    font-family: courier new;
    color: black;
}

.contentPage{
    margin-top: 7em;
}

#aboutText{
    font-family: courier new;
    font-size: 18px;
}

.mapTitle{
    font-family: courier new!important;
    font-size: 21px!important
}

.mapDesc{
    font-family: courier new!important;
    font-size: 18px!important;
}

#placesLivedMap{
    height: 370px;
    width: 400px;
    float: left;
    margin-right: 10px;
}

#kenyaMap{
    height: 370px;
    width: 400px;
    float: left;
    margin-right: 10px;
}

/*Screen width below 650px
@media screen and (max-width: 650px){
    #siteName{
        font-size: 25px;
    }
    
    .selectMenu{
        font-size: 12px;
    }
}*/